.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.turn {
  display: inline-block;
  width: 400px;
  margin-bottom: 20px;
}

.board {
  width: 264px;
  padding: 20px;
  background: white;
  display: inline-block;
}

.points {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.point {
  display: inline-block;
  width: 7.7%;
  height: 150px;
  position: relative;
  border-top: 1px black solid;
  border-radius: 8px;
  box-sizing: border-box;
}

.point.selected .checker:last-child{
  opacity: .3;
}

.point.possible{
  background-color: rgba(0, 152, 0, 0.16);
}

.point:nth-child(1){
  border-right: solid 1px black;
  order: 12;
}

.point:nth-child(2){
  order: 11;
}

.point:nth-child(3){
  order: 10;
}

.point:nth-child(4){
  order: 9;
}

.point:nth-child(5){
  order: 8;
}

.point:nth-child(6){
  order: 7;
  border-left: solid 1px black;
  margin-left: 7.6%;
}

.point:nth-child(7){
  border-right: solid 1px black;
  order: 6;
}

.point:nth-child(8){
  order: 5;
}

.point:nth-child(9){
  order: 4;
}

.point:nth-child(10){
  order: 3;
}

.point:nth-child(11){
  order: 2;
}

.point:nth-child(12){
  border-left: solid 1px black;
  order: 1;
}

.point:nth-child(13){
  border-left: solid 1px black;
}

.point:nth-child(24){
  border-right: solid 1px black;
}

.point:nth-child(18){
  border-right: solid 1px black;
  margin-right: 7.6%;
}

.point:nth-child(19){
  border-left: solid 1px black;
}

.point:nth-child(-n+12) {
  border-top: 0;
  border-bottom: 1px black solid;
}

.point:nth-child(-n+12) .checkers{
  transform: rotate(180deg);
  bottom: 0;
}

.checkers {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
}

.checker {
  border: 1px solid black;
  border-radius: 50%;
  height: 18px;
  width: 18px;
}

.checker.b {
  background: black;
}

.dice {
  margin: 20px 0 0;
  padding: 0;
  list-style: none;
  height: 80px;
}

.die {
  display: inline-block;
  margin-right: 10px;
  width: 75px;
  height: 75px;
  background: url('../img/dice-faces.svg');
}

.die.number-1 {
  background-position: -43px 129px;
}

.die.number-2 {
  background-position: -122px 129px;
}

.die.number-3 {
  background-position: -201px 129px;
}

.die.number-4 {
  background-position: -280px 129px;
}

.die.number-5 {
  background-position: -359px 129px;
}

.die.number-6 {
  background-position: -438px 129px;
}

.hit {
  background-color: white;
  position: relative;
  left: -162px;
  top: 30px;
}

.turn, .board, .hit {
  float: left;
}

.crier {
  position: fixed;
  top: 100px;
  right: 30px;
  width: 300px;
}

.cries {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cry {
  padding: 10px;
  border: 1px solid white;
}

.cry.error {
  color: red;
}

.cry.warning {
  color: orange;
}

.cry.success {
  color: green;
}

.cry.info {
  color: white;
}

.cry .cry-collapse {
  margin-right: 5px;
}
